* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Courier, monospace
}

:root {
  --font-branco: #f3f3f3;
  --font-black: #0e0e0e;
  --bg-color-orange: #F58610;
  --bg-color-orange-hover: #be6a0f;
  --bg-color-gray: #D7D7DA;
  --bg-color-gray-hover: #9e9e9e;
}

body {
  background: url('./../public/background.png');
  background-repeat: no-repeat;
}

h1, p {
  background-clip: text;
  background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(245,134,16,1) 64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.container-flex {
  margin-top: 100px;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--font-branco);
  justify-content: space-around;
}

.container-calculator {
  background-color: var(--bg-color-gray);
  width: 300px;
  margin: 0px 46.5px;
}

.container-numero {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  background-color: var(--font-black);
}

.container-btns {
  height: 380px;
}

.container-numero h2 {
  font-size: 5em;
  margin-bottom: 10px;
  font-weight: 300;
}

button {
  width: 75px;
  height: 75px;
  margin: 0%;
  cursor: pointer;
  border: none;
}

.gray {
  background-color: var(--bg-color-gray);
}

.gray:hover {
  background-color: var(--bg-color-gray-hover);
}

.orange {
  background-color: var(--bg-color-orange);
}

.orange:hover {
  background-color: var(--bg-color-orange-hover);
}

[double='true']{
  width: 150px;
}